<!-- <h1>Welcome to Angular Routing Example</h1>
<nav>
  <a routerLink="/" routerLinkActive="active">Home</a> | 
  <a routerLink="/login" routerLinkActive="active">Login</a> |
  <a routerLink="/register" routerLinkActive="active">Register</a>
  <a routerLink="/teachers" routerLinkActive="active">Teachers</a>
  <a routerLink="/students" routerLinkActive="active">Students</a>
  <a routerLink="/reports" routerLinkActive="active">Reports</a>
  <a routerLink="/payments" routerLinkActive="active">Payments</a>
  <a routerLink="/loads" routerLinkActive="active">Loads</a>
  <a routerLink="/groups" routerLinkActive="active">Groups</a>
</nav>
<router-outlet></router-outlet> -->

<router-outlet></router-outlet>
