<div class="teachers-container">
  <div *ngIf="isLoading">
    Loading...
  </div>

  <div>
    <input for="searchId" id="searchId" [(ngModel)]="searchId" name="searchId">
    <button (click)="loadEntityById(searchId)">Search</button>
  </div>

    <div *ngIf="searchedEntity">
      <h3>Search Result:</h3>
      <p><strong>Id:</strong> {{searchedEntity._id}} </p>
      <p><strong>Firstname:</strong> {{searchedEntity.firstname}} </p>
      <p><strong>Lastname:</strong> {{searchedEntity.lastname}} </p>
      <p><strong>Patronymic:</strong> {{searchedEntity.patronymic}} </p>
      <p><strong>Email:</strong> {{searchedEntity.email}} </p>
      <p><strong>Phone:</strong> {{searchedEntity.phone}} </p>
      <p><strong>Experience:</strong> {{searchedEntity.experience}} </p>
    </div>

    <div *ngIf="!isLoading">
      <h2>Teachers List</h2>
      <table *ngIf="entities.length > 0; else noTeachers">
        <thead>
          <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Patronymic</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Experience</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entities">
            <td>{{ entity._id }}</td>
            <td>{{ entity.firstname }}</td>
            <td>{{ entity.lastname }}</td>
            <td>{{ entity.patronymic }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.phone }}</td>
            <td>{{ entity.experience }}</td>
            <td>
              <button (click)="editEntity(entity)">Edit</button>
              <button (click)="deleteEntity(entity._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #noTeachers>
        <p>No teachers available.</p>
      </ng-template>
    </div>

    <div>
      <h2>{{ isEditing ? 'Edit Teacher' : 'Create Teacher' }}</h2>
      <form (ngSubmit)="isEditing ? updateEntity() : createEntity()">
        <div>
          <label for="firstname">Firstname:</label>
          <input type="text" id="firstname" [(ngModel)]="formData.firstname" name="firstname" required>
        </div>
        <div>
          <label for="lastname">Lastname:</label>
          <input type="text" id="lastname" [(ngModel)]="formData.lastname" name="lastname" required>
        </div>
        <div>
          <label for="patronymic">Patronymic:</label>
          <input type="text" id="patronymic" [(ngModel)]="formData.patronymic" name="patronymic" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="formData.email" name="email" required>
        </div>
        <div>
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" [(ngModel)]="formData.phone" name="phone" required>
        </div>
        <div>
          <label for="experience">Experience:</label>
          <input type="number" id="experience" [(ngModel)]="formData.experience" name="experience" required>
        </div>
        <button type="submit">{{ isEditing ? 'Update' : 'Create' }}</button>
      </form>
    </div>
</div>