<nav>
    <ul>
      <li><a routerLink="/teachers" routerLinkActive="active">Teachers</a></li>
      <li><a routerLink="/groups" routerLinkActive="active">Groups</a></li>
        <li><a routerLink="/students" routerLinkActive="active">Students</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
        <li><a routerLink="/payments" routerLinkActive="active">Payments</a></li>
        <li><a routerLink="/loads" routerLinkActive="active">Loads</a></li>      
    </ul>
  </nav>
  