.navbar {
    position: fixed; /* або absolute */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* високе значення, щоб бути поверх інших елементів */
    /* інші стилі для навбару */
  }