<div class="page-wrapper">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div>
        <label class="form-label" for="email">Email</label>
        <input
          class="input-field"
          type="email"
          formControlName="email"
          id="email"
          placeholder="Email address"
        />

        <div
          *ngIf="
            loginForm.get('email')?.touched && loginForm.get('email')?.invalid
          "
          class="text-red-500 text-sm mt-1"
        >
          <div
            class="error-message"
            *ngIf="loginForm.get('email')?.errors?.['required']"
          >
            Email обов'язковий
          </div>
          <div
            class="error-message"
            *ngIf="loginForm.get('email')?.errors?.['email']"
          >
            Невірний формат email
          </div>
        </div>
      </div>

      <div class="relative">
        <label class="form-label" for="password">Пароль</label>
        <input
          class="input-field"
          type="password"
          formControlName="password"
          id="password"
          placeholder="Password"
        />

        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
          class="text-red-500 text-sm mt-1"
        >
          <div
            class="error-message"
            *ngIf="loginForm.get('password')?.errors?.['required']"
          >
            Пароль обов'язковий
          </div>
          <div
            class="error-message"
            *ngIf="loginForm.get('password')?.errors?.['minlength']"
          >
            Пароль має бути не менше 6 символів
          </div>
        </div>
      </div>

      <div class="pt-4">
        <button
          class="submit-button"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Увійти
        </button>
      </div>
    </form>
  </div>

  <div class="logo-container">
    <img
      src="university-logo.png"
      alt="University logo"
      class="university-logo"
    />
  </div>
</div>
